################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskWPFApp.Test/bin/Debug
/TaskWPFApp.Test/obj/Debug
/TaskWFPApp/obj
/TaskWFPApp/bin/Debug
/.vs/TaskWFPApp/v16/Server/sqlite3
